.nav-item
  display block
  color white
  padding 16px
  text-decoration none
  border-bottom 2px white solid

  &:hover
    cursor pointer
    background-color lightness(gray, 40)
    transition linear 0.5s